*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

header{
    /* border: 1px solid black; */
    /* padding: 5vh; */
    /* background: linear-gradient(black); */
    /* background-image: url("/assets/greenlights3.jpg"); */
    background-color: black;
}

#logo{
    height: 40vh;
    margin:auto;
    display: flex;
    justify-content: center;
    /* padding: 3px; */
    border-radius: 50%;
    border: 4px solid rgb(46, 117, 25);
}

#headtitle {
    /* display: inline-block; */
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 70%;
}

nav {
    display: inline-block;
    /* border: 1px solid black; */
    width: 100%;
    padding: 10px;
    background-color: rgb(46, 117, 25);
    text-align: right;
}

.nav-link{
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 10px 30px;
    /* margin: 20px; */
    /* border-radius: 150px; */
    color: black;
    
}
.nav-link:hover{
    background-color: rgb(197, 226, 159);
}

body{
    background-image: url("/assets/greenlights3.jpg");
    background-position: center;
}

h1{
    padding-left: 8%;
    color: rgb(192, 180, 73);
    background-color: black;
}
.event{
    /* border: 1px solid blue; */
    border-radius: 25px;
    padding: 1vh 2vw;
    margin: 10vh;
    /* color: aliceblue; */
    background-color: rgb(155, 189, 127);
}

.party-scene{
    border-radius: 15px;
    height: 300px;
    width: 520px;

}

fieldset{
    border-radius: 10px;
    margin: 10px;

}

.personal{
    margin: 3px;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

.personal:focus{
    background-color: bisque;
}

.event-info{
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
}

.event-info:focus{
    background-color: bisque;
}

.buttons{
    margin: 25px;
    border-radius: 15px;
    padding: 15px;
    font-size: medium;
}

.buttons:hover{
    background-color: green;
    cursor: pointer;
}

#signup {
    /* border: 1px solid blue; */
    background-color: rgb(197, 226, 159);
    border-radius: 15px;
    padding: 1vh 2vw;
    margin: 10vh 25vw;
    text-align: center;
    color: black;
    
}

footer{
    background-color: rgb(197, 226, 159);
    display: flex;
    justify-content: center;
}