*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    border: 1px solid black;
    padding: 5vh;
    background: linear-gradient(rgb(67, 87, 12));
}

#headtitle {
    /* display: inline-block; */
    margin: 3vw;
    border: 1px solid black;
}

nav {
    display: inline-block;
    /* border: 1px solid black; */
    margin-left: 15vw;
}

.nav-link{
    text-decoration: none;
    border: 5px solid black;
    padding: 15px;
    margin-left: 5vw;
    border-radius: 150px;
    background-color: rgb(247, 237, 226);
}

.event{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 1vh 2vw;
    margin: 10vh;
}

.party-scene{
    border-radius: 15px;
    height: 300px;
    width: 520px;

}

fieldset{
    border-radius: 10px;
    margin: 10px;

}

.personal{
    margin: 3px;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

.event-info{
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
}

.buttons{
    margin: 25px;
    border-radius: 20%;
    padding: 15px;
    font-size: medium;
}

#signup {
    border: 1px solid blue;
    background-color: rgb(197, 226, 159);
    border-radius: 8%;
    padding: 1vh 2vw;
    margin: 10vh 25vw;
    text-align: center;
    
}

footer{
    background-color: rgb(197, 226, 159);
    display: flex;
    justify-content: center;
}